<div  class="clearfix">
	<div class="row wrapper dashborad" ng-controller="DashboradGraphCtrl">
		<div class="col-md-12">
			<div class="panel panel-default m-b">
				<div class="panel-heading">平台总体情况</div>
				<div class="panel-detail">
					<div class="col-md-3">
						<div class="small-box s-bg-primary">
							<div class="small-box-h text-center bg-primary-h">
								<p style="font-size:50px;"><i class="fa fa-list-alt"></i></p>
								<p>总体状态</p>
							</div>
							<div class="small-box-count">
								<div class="font-large" >正常</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="small-box s-bg-green">
							<div class="small-box-h text-center bg-green-h">
								<p style="font-size:50px;"><i class="fa fa-calendar"></i></p>
								<p>实例状态</p>
							</div>
							<div class="small-box-count">
								<div class="font-large" ng-bind="dashboradData.digit.monthTasks"></div>
								<div>
									<div>开机：{{dashboradData.digit.runs}}</div>
									<div>关机：{{dashboradData.digit.success}}</div>
									<div>异常：{{dashboradData.digit.fails}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="small-box s-bg-yellow">
							<div class="small-box-h text-center bg-yellow-h">
								<p style="font-size:50px;"><i class="fa fa-clock-o"></i></p>
								<p>租户数量</p>
							</div>
							<div class="small-box-count">
								<div class="font-large">{{dashboradData.digit.cronTasks}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="small-box s-bg-aqua">
							<div class="small-box-h text-center bg-aqua-h">
								<p style="font-size:50px;"><i class="fa fa-clock-o"></i></p>
								<p>告警数量</p>
							</div>
							<div class="small-box-count">
								<div class="font-large">{{dashboradData.digit.cronTasks}}</div>
								<div>
									<div>未确认：{{dashboradData.digit.runs}}</div>
									<div>已确认：{{dashboradData.digit.success}}</div>
									<div>已解决：{{dashboradData.digit.fails}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">资源统计信息</div>
				<div class="panel-detail">
					<div class="col-md-4">
						<a class="cell">
							<img src="/statics/img/dashborad/dashboard_bss.png" alt=""/>
							<span ng-bind="dashboradData.businessNum"></span>个数据中心
						</a>
						<a class="cell">
							<img src="/statics/img/dashborad/dashboard_container.png" alt=""/>
							<span ng-bind="dashboradData.containerNum"></span>个机房
						</a>
					</div>
					<div class="col-md-4">
						<a class="cell" ui-sref="app.assets.cluster">
							<img src="/statics/img/dashborad/dashboard_cluster.png" alt=""/>
							<span ng-bind="dashboradData.clusterNum"></span>个机柜
						</a>
						<a class="cell">
							<img src="/statics/img/dashborad/dashboard_phy.png" alt=""/>
							<span ng-bind="dashboradData.physicsNum"></span>个主机
						</a>
					</div>
					<div class="col-md-4">
						<a class="cell">
							<img src="/statics/img/dashborad/dashboard_image.png" alt=""/>
							<span ng-bind="dashboradData.dockerNum"></span>个云主机
						</a>
						<a class="cell">
							<img src="/statics/img/dashborad/dashboard_registry.png" alt=""/>
							<span ng-bind="dashboradData.repertoryNum"></span>个云数据库
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default m-b">
				<div class="panel-heading">平台资源分布</div>
				<div class="panel-detail">
					<div class="col-md-12 chart" ng-if="isDataLoad" style="height: 360px" ng-graph-dashborad-pie-chart=""  data="dashboradData.duration">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default m-b">
				<div class="panel-heading">租户资源分布</div>
				<div class="panel-detail">
					<div class="col-md-12 chart" ng-if="isDataLoad" style="height: 360px" ng-graph-dashborad-pie-chart=""  data="dashboradData.result">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default m-b">
				<div class="panel-heading">告警状态统计</div>
				<div class="col-md-12 chart" ng-if="isDataLoad" style="height: 360px" ng-graph-dashborad-pie-chart=""  data="dashboradData.warnstatus">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default m-b">
				<div class="panel-heading">租户告警统计</div>
				<div class="panel-detail chart" ng-if="isDataLoad" style="height: 360px" ng-graph-dashborad-line-chart="" data="dashboradData.trend">
				</div>
			</div>
		</div>
	</div>
</div>

