<div class="content-byc image-content" ng-controller="resourceGroupDetailCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">资源分组详情</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block" style="border:none;">
                            <div class="form-horizontal">
                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">基本信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>分组名称：</dt>
                                                    <dd ng-bind="resourceDetail.name"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户名称：</dt>
                                                    <dd ng-bind="resourceDetail.tenantName"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>分组描述：</dt>
                                                    <dd ng-bind="resourceDetail.remark"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">资源列表</h5>
                                    </div>
                                    <div class="pmbb-body" style="padding-left:8px;">
                                        <div class="form-group">
                                            <div class="col-md-12" style="padding:0;margin-bottom: 20px;">
                                                <div class="panel panel-default" style="padding:0">
                                                    <!--<div class="panel-heading font-size-15" style="padding:10px 0 10px 10px;color:#58666e;">资源列表</div>-->
                                                    <div class="panel-body" style="border:none;">
                                                        <table st-table="displayListData" st-safe-src="userListData" class="table table-striped b-light m-b-xxs">
                                                            <thead class="table-header">
                                                            <tr>
                                                                <th width="20%" class="font-15 text-center">名称</th>
                                                                <th width="20%" class="font-15 text-center">状态</th>
                                                                <th width="20%" class="font-15 text-center">IP地址</th>
                                                                <th width="20%" class="font-15 text-center">类型</th>
                                                                <th width="20%" class="font-15 text-center">型号</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="table-content" ng-repeat="row in displayListData" ng-if="!isImageData">
                                                                <td width="20%" class="font-15 text-center text-overflow" style="max-width:153px;" ng-bind="row.name"></td>
                                                                <td width="20%" class="font-15 text-center text-overflow" style="max-width:153px;" ng-bind="row.status"></td>
                                                                <td width="20%" class="font-15 text-center text-overflow" style="max-width:153px;" ng-bind="row.ip"></td>
                                                                <td width="20%" class="font-15 text-center text-overflow" style="max-width:153px;" ng-bind="row.category|cn:'category'"></td>
                                                                <td width="20%" class="font-15 text-center text-overflow" style="max-width:153px;" ng-bind="row.catalog|cn:'catalog'"></td>
                                                            </tr>
                                                            <tr ng-if="isImageData">
                                                                <td class="td-nodata" colspan="5">暂无数据</td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="1" class="text-left">
                                                                    <div>每页{{itemsByPage}}条，共{{total}}条</div>
                                                                </td>
                                                                <td colspan="4" class="text-right" style="padding: 0 6px;">
                                                                    <div style="margin-top:-5px;" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
                                                                </td>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>