<div class="col-md-12 search-box m-b-md" ng-hide="hideSearch">
	<div class="legend">查询条件</div>
	<div class="search-content">
		<div class="form-group">
			<label class="control-label">数据库名称：</label>
			<input type="text" class="form-control" ng-model="$parent.name" placeholder="请输入数据库名称"/>
		</div>
		<div class="form-group">
			<label class="control-label">拥有者：</label>
			<input type="text" class="form-control" ng-model="$parent.tenantName" placeholder="请输入拥有者"/>
		</div>
		<div class="form-group">
			<label class="control-label">类别：</label>
			<select class="form-control" ng-model="$parent.type">
				<option value="">全部</option>
				<option ng-repeat="(key,item) in typeData" value="{{key}}" ng-bind="item"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">是否分配：</label>
			<select class="form-control" ng-model="isAllot">
				<option value="">全部</option>
				<option  value="true">是</option>
				<option  value="false">否</option>
			</select>
		</div>
	</div>
	<div class="search-btn">
		<button class="btn btn-primary w-xs m-r" ng-click="search()"><i class="fa fa-search"></i> 查询</button>
		<button class="btn btn-success w-xs m-r" ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
		<button class="btn btn-info w-xs" ng-click="goAction(1,row.id)"tabindex="0"><i class="fa fa-plus"></i> 新增</button>
	</div>
</div>
<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped b-light m-b-xxs">
				<thead style="background: #fefefe">
				<tr>
					<th class="text-center">名称</th>
					<th class="text-center">类别</th>
					<th class="text-center">拥有者</th>
					<th class="text-center">运行状态</th>
					<th class="text-center">所属主机IP</th>
					<th class="text-center" style="width: 300px">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="(key,row) in listData">
					<td class="text-center text-info">
						<a href="javascript:void(0)" ng-bind="row.name" ng-click="goAction(3,row.id)"></a>
					</td>
					<td class="text-center" ng-bind="row.type"></td>
					<td class="text-center" ng-bind="row.tenantName"></td>
					<td class="text-center" ng-bind="row.status"></td>
					<td class="text-center" ng-bind="row.managerIp"></td>
					<td class="text-center">
						<button class="btn btn-sm btn-primary" ng-click="goAction(2,row.id)"><i class="fa fa-pencil"></i> 编辑</button>
						<button class="btn btn-sm btn-danger" ng-click="del(row.id)"><i class="fa fa-trash-o"></i>删除</button>
						<div class="btn-group dropdown table-operation" dropdown="">
							<a class="btn btn-info btn-addon" dropdown-toggle=""><i class="fa fa-reorder" ></i>操作</a>
							<ul class="dropdown-menu">
								<li ng-click="recover(row.id)"><a href="">回 收</a></li>
								<li ng-click="allocate(row.id)" ><a href="">分 配</a></li>
								<li ng-click="start(row.id)" ><a href="">启 动</a></li>
								<li ng-click="stop(row.id)" ><a href="">停 止</a></li>
							</ul>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<div class="col-sm-6">
					<div class="paginationTables_info">共有<span ng-bind="totalCount"></span>条记录，每页显示<span
							ng-bind="param.rows"></span>条
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<pagination boundary-links="true" total-items="totalPage" items-per-page="param.rows" max-size="10"
					            ng-model="param.page" ng-change="getList(param.page)" previous-text="&lsaquo;"
					            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
				</div>
			</div>
		</div>
	</div>
