<div class="content-byc image-content" ng-controller="detailTimedOperationModalCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]"
         ng-if="showDetail==1">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">定时任务详情</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block">
                            <div class="form-horizontal">
                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">基本信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>定时任务：</dt>
                                                    <dd ng-bind="timedOperationDetail.name"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>任务名称：</dt>
                                                    <dd ng-bind="timedOperationDetail.task.name"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>当前状态：</dt>
                                                    <dd>
                                                        <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'UNEXECUTE':'btn-success','WAITING':'btn-warning','RUNNING':'btn-primary'}[timedOperationDetail.status]" title="{{timedOperationDetail.status|cnTimed:'status'}}" ng-bind="timedOperationDetail.status|cnTimed:'status'"></button>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>执行计划：</dt>
                                                    <dd ng-bind="timedOperationDetail.crons"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>任务描述：</dt>
                                                    <dd ng-bind="timedOperationDetail.remark"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">详细信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>创建人员：</dt>
                                                    <dd ng-bind="timedOperationDetail.creator"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>创建时间：</dt>
                                                    <dd ng-bind="timedOperationDetail.gmtCreate"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>修改人员：</dt>
                                                    <dd ng-bind="timedOperationDetail.mender"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>修改时间：</dt>
                                                    <dd ng-bind="timedOperationDetail.gmtModify"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="border:1px solid #e0e0e0;padding-top: 12px;margin-bottom: 20px;">
                                    <table class="table table-striped b-light m-b-xxs">
                                        <thead style="background: #fefefe">
                                        <tr>
                                            <th class="text-center">任务名称</th>
                                            <th class="text-center">启动人员</th>
                                            <th class="text-center">任务状态</th>
                                            <th class="text-center">开始时间</th>
                                            <th class="text-center">结束时间</th>
                                            <th class="text-center">启动方式</th>
                                            <th class="text-center">总耗时（s）</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(key,row) in historyListData">
                                            <td class="font-15 text-center" ng-bind="row.name"></td>
                                            <td class="font-15 text-center" ng-bind="row.operator"></td>
                                            <td class="font-15 text-center" >
                                                <button  class="btn btn-primary btn-xs disabled" ng-class="{'SUCCESS':'btn-success','FAIL':'btn-danger'}[row.status]" ng-bind="row.status|cn:'taskStatus'"></button>
                                            </td>
                                            <td class="font-15 text-center" ng-bind="row.startTime"></td>
                                            <td class="font-15 text-center" ng-bind="row.endTime"></td>
                                            <td class="font-15 text-center" ng-bind="row.mode|cn:'startWay'"></td>
                                            <td class="font-15 text-center" ng-bind="row.cost"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix">
                                        <div class="col-sm-6">
                                            <div class="paginationTables_info">共有<span ng-bind="totalPage"></span>条记录，每页显示<span ng-bind="param.rows"></span>条
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <pagination boundary-links="true" total-items="totalPage" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getHistoryList(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>