<!-- list -->
<ul class="nav m-t" ng-controller="MenuCtrl">
  <div ng-repeat="item in menuData">
    <li ui-sref-active="active" ng-if="!item.children">
      <a ui-sref="{{item.actionUrl}}">
        <i class="{{item.icon}}"></i>
        <span class="font-bold" ng-bind="item.name"></span>
      </a>
    </li>
    <li class="first-menu" ng-class="{active:$state.includes('{{item.actionUrl}}')}" ng-if="item.children">
      <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
        <i class="{{item.icon}}"></i>
        <span class="font-bold" >{{item.name}}</span>
      </a>
      <ul class="nav nav-sub dk" ng-if="item.children">
        <li ui-sref-active="active" ng-repeat="cell in item.children">
          <a ui-sref="{{cell.actionUrl}}">
            <span ng-bind="cell.name"></span>
          </a>
        </li>
      </ul>
    </li>
  </div>
</ul>
<!-- / list -->
