html,body {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(/statics/img/bg.png) center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.app-header-fixed{
  padding-top: 0;
}

.text-login {
  color: #3a3a3a;
}

.login-title-text {
  padding: 0 20px;
  font-size: 23px;
  color: #fff;
  border-left: 2px solid #fff;
}


.login-container input {
  background: none;
  display: inline-block;
  color: #fff;
}

input::inout-placeholder {
  color: #5ac1f5 !important;
}

input::-webkit-input-placeholder {
  color: #5ac1f5 !important;
}

input::-moz-placeholder {
  color: #5ac1f5 !important;
}

.list-group {
  margin-left: 40px;
  margin-bottom: 10px;
  color: #fff !important;
}

.list-group-cell {
  width: 70%;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.list-group > label > .fa {
  color: #fff;
}

.login-container {
  margin: 0 auto;
  padding: 170px;
  width: 671px;
  height: 669px;
  background: url(/statics/img/login_bg.png) center no-repeat;
  background-size: 100%;
}

.code-group {
  position: relative;
}

.code-group > input {
  width: 80px;
}

.code-style {
  position: absolute;
  top: -1px;
  left: 80px;
}

.list-group-sm .code-group {
  position: relative;
  padding: 12px 22px;
}