<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">租户配额</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addTenantForm">
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">cpu大小：</label>
                <div class="col-lg-9 control-input" style="width: calc(100% - 146px);">
                    <input type="text" name="cpu" class="form-control" ng-model="sizeData.cpu" validator="required,positiveNumber" >
                </div>
                <div class="col-lg-1"><span class="sup" style="">核</span></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">内存大小：</label>
                <div class="col-lg-9 control-input" style="width: calc(100% - 146px);">
                    <input type="text" name="memory" class="form-control" ng-model="sizeData.memory" validator="required,positiveNumber">
                </div>
                <div class="col-lg-1"><span class="sup" style="">G</span></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">磁盘大小：</label>
                <div class="col-lg-9 control-input" style="width: calc(100% - 146px);">
                    <input type="text" name="disk" class="form-control" ng-model="sizeData.disk" validator="required,positiveNumber">
                </div>
                <div class="col-lg-1"><span class="sup" style="">G</span></div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="addTenantForm" ng-disabled="addTenantForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>