<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">编辑租户</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="updateTenantForm">
        <div class="form-group">
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">租户名称：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="name" class="form-control" ng-model="updateData.name" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">租户电话：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="tenantPhone" class="form-control" ng-model="updateData.tenantPhone" validator="required,phone">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">公司名称：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="company" class="form-control" ng-model="updateData.company" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">公司地址：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="address" class="form-control" ng-model="updateData.address" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">联系人员：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="contacter" class="form-control" ng-model="updateData.contacter" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">联系电话：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="contactPhone" class="form-control" ng-model="updateData.contactPhone" validator="required,phone">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">联系邮箱：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="contactEmail" class="form-control" ng-model="updateData.contactEmail" validator="required,email" maxlength="64" maxlength-error-message="最多输入64个字符" readonly/>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-2 control-label">其他属性：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="moreProp" class="form-control" ng-model="updateData.moreProp" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">租户描述：</label>
                <div class="col-lg-10 control-input">
                    <textarea class="form-control" name="remark" ng-model="updateData.remark" maxlength="256" maxlength-error-message="最多输入256个字符"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="updateTenantForm" ng-disabled="updateTenantForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>