<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size">提示</p>
</div>
<div class="modal-body panel-body ownremovestyle">
	<p>是否解冻该用户？</p>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="ok()">确认</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>


<!--
<div class="modal-header">
	<h3 class="modal-title">提示</h3>
</div>
<div class="modal-body">
	<p>是否解冻该用户？</p>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-success" ng-click="ok()">确认</button>
</div>-->
