<div ng-controller="commandCtrl" class="clearfix script-content">
    <div class="wrapper-md">
        <div class="panel panel-default" ng-show="!showDetail">
            <div class="">
                <div class="col-md-12 search-box m-b-md">
                    <div class="legend">查询条件</div>
                    <div class="search-content">
                        <div class="form-group">
                            <label class="control-label">名称：</label>
                            <input type="name" ng-model="searchByName" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                        </div>
                    </div>
                    <div class="search-btn">
                        <button class="btn btn-info w-xs m-r" ng-click="getData(1)"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-primary w-xs m-r" ng-click="add($event)"><i class="fa fa-plus-circle"></i> 新增</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: -10px;">
                                <table class="table table-striped b-light m-b-xxs">
                                    <thead class="table-header">
                                    <tr>
                                        <th width="20%" class="text-center font-15">名称</th>
                                        <th width="20%" class="text-center font-15">级别</th>
                                        <th width="30%" class="text-center font-15">内容</th>
                                        <th class="text-center td-operate font-15" width="30%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="row in commandList" ng-if="!isImageData">
                                        <td width="20%" class="text-center font-15 text-overflow" style="max-width:210px;" title="{{row.name}}" ng-bind="row.name"></td>
                                        <td width="20%" class="text-center font-15">
                                            <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'DEADLY':'btn-danger','HIGH':'btn-warning','SERIOUS':'btn-primary','MEDIUM':'btn-info','COMMON':'btn-success'}[row.level]" title="{{row.level|cn:'level'}}" ng-bind="row.level|cn:'level'"></button>
                                        </td>
                                        <td width="30%" class="text-center font-15 text-overflow" style="max-width:314px;" title="{{row.content}}" ng-bind="row.content"></td>
                                        <td width="30%" class="td-operate text-center">
                                            <button class="btn btn-success btn-sm" ng-click="update($event,$index,row,key)">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span class="">编辑</span>
                                            </button>
                                            <button class="btn btn-danger btn-sm" ng-click="remove(row.id,$event,$index,key)">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="">删除</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-if="isImageData">
                                        <td class="td-nodata" colspan="4">暂无数据</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <div class="col-sm-6" style="padding: 7px 15px;">
                                        <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>