<div ng-controller="supplierAddCtrl" class="clearfix detail">
    <div class="row wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><span>{{title}}</span>
                    <button class="btn btn-info pull-right m-t-n-7" ng-click="goBack()"><i class="fa fa-reply"></i> 返回</button>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-validation" name="addSupplierForm">
                        <div class="search-box m-t-md">
                            <div class="legend">基本信息</div>
                            <div class="search-content">
                                <div class="form-group">
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">名称：</label>
                                        <input type="text" name="name" class="form-control" ng-model="addData.CloudVendor.name" ng-blur="checkusername()" placeholder="请输入名称" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符"/>
                                    </div>
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">类型：</label>
                                        <select class="form-control" ng-model="addData.CloudVendor.type">
                                            <option ng-repeat="row in typeData" ng-selected="row==addData.CloudVendor.type" value="{{row}}" ng-bind="row"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">所属租户：</label>
                                        <input type="text" name="tenant" class="form-control" ng-model="addData.CloudVendor.tenant" placeholder="请输入所属租户" />
                                    </div>
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="col-lg-3 control-label">服务类型：</label>
                                        <div class="col-lg-9 control-input" style="padding: 0 6px;">
                                            <div class="region region-box" style="width:110px;" ng-class="{true:'region-active'}[row.isNetworkActive]" ng-click="chooseNetwork(row,$index)" ng-repeat="row in categoryData">
                                                <span class="region-txt" ng-bind="row.name"></span>
                                            </div>
                                        </div>
                                        <!--<select class="form-control" ng-model="addData.CloudVendor.category">-->
                                            <!--<option ng-repeat="row in categoryData" ng-selected="row.value==addData.CloudVendor.category" value="{{row.value}}" ng-bind="row.name"></option>-->
                                        <!--</select>-->
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<div class="col-md-6 input-error-info padding-0">-->
                                        <!--<label class="control-label">API版本：</label>-->
                                        <!--<input type="text" name="apiVersion" class="form-control" ng-model="addData.CloudVendor.apiVersion" placeholder="请输入API版本" />-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="search-box m-t-md">
                            <div class="legend">认证信息</div>
                            <div class="search-content">
                                <div class="form-group">
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">管理账户：</label>
                                        <input type="text" name="account" class="form-control" ng-model="addData.CloudVendor.account" validator="required" placeholder="请输入管理账户" />
                                    </div>
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">管理密码：</label>
                                        <input type="password" name="password" class="form-control" ng-model="addData.CloudVendor.password" placeholder="请输入管理密码" validator="required" maxlength="18" type="{{showPass_os?'text':'password'}}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">accessKey：</label>
                                        <input type="text" name="accessKey" class="form-control" ng-model="addData.CloudVendor.accessKey" placeholder="请输入accessKey" />
                                    </div>
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">secretKey：</label>
                                        <input type="password" name="secretKey" class="form-control" ng-model="addData.CloudVendor.secretKey" placeholder="请输入secretKey" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">地址：</label>
                                        <input type="text" name="address" class="form-control" ng-model="addData.CloudVendor.address" placeholder="请输入地址" validator="required,address_opt" />
                                    </div>
                                    <div class="col-md-6 input-error-info padding-0">
                                        <label class="control-label">描述：</label>
                                        <input type="text" name="remark" class="form-control" ng-model="addData.CloudVendor.remark" placeholder="请输入描述" maxlength="256" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-box m-t-md">
                            <div class="legend">可用区域</div>
                            <div class="search-content">
                                <div class="form-group" ng-repeat="item in settingList track by $index">
                                    <div class="col-md-5 input-error-info padding-0">
                                        <label class="control-label">区域名称：</label>
                                        <input type="text" class="form-control" name="name{{$index}}" ng-model="item.name" placeholder="请输入区域名称" validator="required"/>
                                    </div>
                                    <div class="col-md-5 input-error-info padding-0">
                                        <label class="control-label">区域编码：</label>
                                        <input type="text" class="form-control" name="code{{$index}}"ng-model="item.code" placeholder="请输入区域编码" validator="required"/>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-xs w-3x btn-danger m-t-sm" ng-click="removeSetting($index)"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <button class="btn w-md btn-info m-l m-b-sm" ng-click="addSetting()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 m-t-md m-b-sm btn-list" >
                        <div class="col-md-6"><button type="submit" class="btn btn-primary" validation-submit="addSupplierForm" ng-disabled="addSupplierForm.$invalid" ng-click="save()">确认</button></div>
                        <div class="col-md-6"><button class="btn btn-default" ng-click="goBack()">取消</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>