<div class="content-byc image-content" ng-controller="detailSupplierModalCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]"
         ng-if="showDetail==1">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                            <span class="p-l-6">平台详情</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block" style="border:none;">
                            <div class="form-horizontal">
                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">基本信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>平台名称：</dt>
                                                    <dd ng-bind="supplierDetail.name"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>平台状态：</dt>
                                                    <dd>
                                                        <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[supplierDetail.status]" title="{{supplierDetail.status|cnUser:'status'}}" ng-bind="supplierDetail.status|cnUser:'status'"></button>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>管理账户：</dt>
                                                    <dd ng-bind="supplierDetail.account"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>管理密码：</dt>
                                                    <dd ng-bind="supplierDetail.password"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">详细信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>服务类型：</dt>
                                                    <dd ng-bind="supplierDetail.category|cn:'category2'"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>所属租户：</dt>
                                                    <dd ng-bind="supplierDetail.tenant"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!--<div class="col-lg-6">-->
                                                <!--<dl class="dl-horizontal">-->
                                                    <!--<dt>API版本：</dt>-->
                                                    <!--<dd ng-bind="supplierDetail.apiVersion"></dd>-->
                                                <!--</dl>-->
                                            <!--</div>-->
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>网址：</dt>
                                                    <dd ng-bind="supplierDetail.address"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>平台描述：</dt>
                                                    <dd ng-bind="supplierDetail.remark"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>