<div class="clearfix script-content" ng-task-main-router="">
    <div class="wrapper-md" ng-controller="middlewareTabCtrl">
        <tabset class="tab-container">
            <tab ng-controller="middleCtrl" ng-click="getData(1)">
                <tab-heading class="tab-heading-style">
                    中间件管理
                </tab-heading>
                <div class="row panel" style="padding-top: 10px">
                    <div class="col-md-12 search-box m-b-md">
                        <div class="legend">查询条件</div>
                        <div class="search-content">
                            <div class="form-group">
                                <label class="control-label">名称：</label>
                                <input type="text" name="name" ng-model="searchByName" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                            </div>
                            <div class="form-group">
                                <label class="control-label">类别：</label>
                                <select class="form-control" ng-model="searchByType">
                                    <option value="">--请选择--</option>
                                    <option ng-repeat="row in typeData" ng-selected="row.value==searchByType" value="{{row.value}}" ng-bind="row.name"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">拥有者：</label>
                                <input type="text" name="owner" ng-model="searchByOwner" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                            </div>
                        </div>
                        <div class="search-btn">
                            <button class="btn btn-info w-xs m-r" ng-click="getData(1)"><i class="fa fa-search"></i> 查询</button>
                            <button class="btn btn-success w-xs m-r" ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
                            <button class="btn btn-primary w-xs m-r" ng-click="add($event,'lg')"><i class="fa fa-plus-circle"></i> 新增</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-sm-12" style="margin-top: -10px;">
                                    <table class="table table-striped b-light m-b-xxs">
                                        <thead class="table-header">
                                        <tr>
                                            <th width="15%" class="text-center font-15">中间件名称</th>
                                            <th width="10%" class="text-center font-15">类别</th>
                                            <th width="20%" class="text-center font-15">拥有者</th>
                                            <th width="15%" class="text-center font-15">运行状态</th>
                                            <th width="20%" class="text-center font-15">所属主机IP</th>
                                            <th width="20%" class="text-center td-operate font-15">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-content" ng-repeat="row in middlewareList" ng-if="!isImageData">
                                            <td width="15%" class="text-center font-15 detail-href text-overflow" style="max-width:609px;" title="{{row.name}}" ng-bind="row.name" ng-click="detail(row.id)"></td>
                                            <td width="10%" class="font-15 text-center text-overflow" title="{{row.category|cn:'middlewareCategory'}}" ng-bind="row.category|cn:'middlewareCategory'"></td>
                                            <td width="20%" class="font-15 text-center text-overflow" style="max-width:609px;" title="{{row.serviceVendor}}" ng-bind="row.serviceVendor"></td>
                                            <td width="15%" class="font-15 text-center text-overflow" style="max-width:609px;" >
                                                <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[row.status]" title="{{row.status|cnUser:'status'}}" ng-bind="row.status|cnUser:'status'"></button>
                                            </td>
                                            <td width="20%" class="font-15 text-center text-overflow" style="max-width:609px;" title="{{row.ip}}" ng-bind="row.ip"></td>
                                            <td width="20%" class="td-operate text-center">
                                                <button class="btn btn-success btn-sm" ng-click="update($event,$index,row,key)">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                    <span class="">编辑</span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" ng-click="remove($event,row.id)">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span class="">删除</span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="isImageData">
                                            <td class="td-nodata" colspan="6">暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix">
                                        <div class="col-sm-6" style="padding:7px 15px;">
                                            <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>