<div class="content-byc image-content" ng-controller="userGroupDetailCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">用户分组详情</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block" style="border:none;">
                            <div class="form-horizontal">
                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">基本信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>分组名称：</dt>
                                                    <dd ng-bind="userDetail.name"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户名称：</dt>
                                                    <dd ng-bind="userDetail.tenantName"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>分组描述：</dt>
                                                    <dd ng-bind="userDetail.remark"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">用户列表</h5>
                                    </div>
                                    <div class="pmbb-body" style="padding-left:8px;">
                                        <div class="form-group">
                                            <div class="col-md-12" style="padding:0;margin-bottom: 20px;">
                                                <div class="panel panel-default" style="padding:0">
                                                    <!--<div class="panel-heading" style="padding:10px 0 10px 10px;color:#58666e;">用户列表</div>-->
                                                    <div class="panel-body" style="border:none;">
                                                        <table st-table="displayListData1" st-safe-src="userListData" class="table table-striped b-light m-b-xxs">
                                                            <thead class="table-header">
                                                            <tr>
                                                                <th width="25%" class="font-15 text-center">用户名称</th>
                                                                <th width="55%" class="font-15 text-center">真实姓名</th>
                                                                <th width="20%" class="font-15 text-center">状态</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="table-content" ng-repeat="row in displayListData1" ng-if="!isImageData">
                                                                <td width="25%" class="font-15 text-center text-overflow" style="max-width:258px;" ng-bind="row.username"></td>
                                                                <td width="55%" class="font-15 text-center text-overflow" style="max-width:567px;" ng-bind="row.name"></td>
                                                                <td width="20%" class="font-15 text-center">
                                                                    <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[row.status]" title="{{row.status|cnUser:'status'}}" ng-bind="row.status|cnUser:'status'"></button>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="isImageData">
                                                                <td class="td-nodata" colspan="3">暂无数据</td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="1" class="text-left">
                                                                    <div>每页{{itemsByPage}}条，共{{total1}}条</div>
                                                                </td>
                                                                <td colspan="2" class="text-right" style="padding: 0 6px;">
                                                                    <div style="margin-top:-5px;" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
                                                                </td>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">资源分组列表</h5>
                                    </div>
                                    <div class="pmbb-body" style="padding-left:8px;">
                                        <div class="form-group">
                                            <div class="col-md-12" style="padding:0;margin-bottom: 20px;">
                                                <div class="panel panel-default" style="padding:0">
                                                    <!--<div class="panel-heading" style="padding:10px 0 10px 10px;color:#58666e;">资源分组列表</div>-->
                                                    <div class="panel-body" style="border:none;">
                                                        <table st-table="displayListData2" st-safe-src="resGroupListData" class="table table-striped b-light m-b-xxs">
                                                            <thead class="table-header">
                                                            <tr>
                                                                <th width="20%" class="font-15 text-center">分组名称</th>
                                                                <th width="80%" class="font-15 text-center">描述</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="table-content" ng-repeat="row in displayListData2" ng-if="!isImageData">
                                                                <td width="20%" class="font-15 text-center detail-href text-overflow" style="max-width:204px;" title="{{row.name}}" ng-click="detail(row.id)" ng-bind="row.name"></td>
                                                                <td width="80%" class="font-15 text-center text-overflow" style="max-width:456px;" title="{{row.remark}}" ng-bind="row.remark"></td>
                                                            </tr>
                                                            <tr ng-if="isImageData">
                                                                <td class="td-nodata" colspan="2">暂无数据</td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="1" class="text-left">
                                                                    <div>每页{{itemsByPage}}条，共{{total2}}条</div>
                                                                </td>
                                                                <td colspan="1" class="text-right" style="padding: 0 6px;">
                                                                    <div style="margin-top:-5px;" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
                                                                </td>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>