<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" ng-bind="modelTitle"></p>
</div>
<div class="modal-body panel-body" style="max-height: 550px;overflow: auto;">
    <form class="form-horizontal form-validation" name="addvmForm">
        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">可用区域：</label>
                <div class="control-input">
                    <div class="region region-box" style="width:120px;" ng-class="{true:'region-active'}[row.isRegionActive]" ng-click="chooseRegion(row)" ng-repeat="row in regionData">
                        <span class="region-txt" ng-bind="row.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>