<div ng-controller="SourceDetailCtrl" class="clearfix detail">
	<div class="row wrapper-md">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold"><span>数据源详情</span>
					<button class="btn btn-info pull-right m-t-n-7" ng-click="goBack()"><i class="fa fa-reply"></i> 返回</button>
				</div>
				<div class="panel-body">
					<form name="addForm">
						<div class="row search-box m-t-md">
							<div class="legend">基本信息</div>
							<div class="search-content">
								<div class="form-group">
									<div class="col-md-6 input-error-info">
										<label class="control-label">数据源名称：</label>
										<input type="text" name="name" class="form-control" ng-model="detailData.name"  disabled/>
									</div>
									<div class="col-md-6 input-error-info">
										<label class="control-label">数据源类型：</label>
										<input type="text" name="type" class="form-control" ng-model="detailData.type" disabled/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 input-error-info">
										<label class="control-label m-t-n-70">数据源描述：</label>
										<textarea class="form-control" name="remark" ng-model="detailData.remark" maxlength="256" disabled></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="search-box m-t-md">
							<div class="legend">采集源</div>
							<div class="search-content setting">
								<div class="search-box m-t-md" ng-repeat="(key,row) in inputListData track by $index">
									<div class="legend">插件类型</div>
									<div class="row search-content setting">
										<div class="col-md-12 input-error-info m-b">
										  <div class="form-group" style="margin-bottom:0px;">
											<div class="col-md-5 input-error-info">
											<label class="control-label">插件名称：</label>
											<input type="text" name="name" class="form-control" style="margin-left:10px;" ng-model="row.key"  disabled/>
										  </div>
										  </div>
										</div>
										<div class="col-md-12" ng-repeat="item in row.beans track by $index">
											<div class="form-group">
												<div class="col-md-5 input-error-info">
													<label class="control-label">{{item.desp}}：</label>
													<input type="text" class="form-control" style="margin-left:10px;" name="key{{$index}}"ng-model="item.key" disabled/>
												</div>
												<div class="col-md-6">
													<input type="text" class="form-control w-full" name="value{{$index}}"ng-model="item.value" disabled/>
												</div>
												<div class="col-md-1" ng-if="item.require">
													<span class="text-danger text-2x">*</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search-box m-t-md">
							<div class="legend">过滤器</div>
							<div class="search-content setting">
								<div class="search-box m-t-md" ng-repeat="(key,row) in filterListData track by $index">
									<div class="legend">插件类型</div>
									<div class="row search-content setting">
										<div class="col-md-12 input-error-info m-b">
										  <div class="form-group" style="margin-bottom:0px;">
											<div class="col-md-5 input-error-info">
											<label class="control-label">插件名称：</label>
											<input type="text" name="name" style="margin-left:10px;" class="form-control" ng-model="row.key"  disabled/>
										  </div>
										  </div>
										</div>
										<div class="col-md-12" ng-repeat="item in row.beans track by $index">
											<div class="form-group">
												<div class="col-md-5">
													<label class="control-label">{{item.desp}}：</label>
											    	<input type="text" class="form-control" style="margin-left:10px;"name="key{{$index}}"ng-model="item.key" disabled/>
												</div>
												<div class="col-md-6">
													<input type="text" class="form-control w-full" name="value{{$index}}"ng-model="item.value" disabled/>
												</div>
												<div class="col-md-1" ng-if="item.require">
													<span class="text-danger text-2x">*</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<textarea class="form-control m-t-xs" name="config" placeholder="配置信息" ng-model="filterValue" validator="required" rows="8" style="width: 100%" disabled></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>