<tr>
	<td class="text-center">
		<input type="text" class="form-control" name="jobname" ng-model="itemData.name" validator="required" data-content="必填项"/>
	</td>
	<td class="text-center">
		<select class="form-control" ng-model="itemData.identId" name="account" validator="required" data-content="必填项">
			<option value="">--请选择--</option>
			<option ng-repeat="item in accountData" ng-selected="itemData.identId==item.id" value="{{item.id}}" ng-bind="item.name"></option>
		</select>
	</td>
	<td class="text-center">
		<input type="text" class="form-control" ng-model="totalSelect" disabled/>
	</td>
	<td class="text-center">
		<input type="text" class="form-control" name="param" ng-model="itemData.targetPath" validator="required" data-content="必填项"/>
	</td>
	<td class="text-center operation">
		<label class="i-checks m-b-none"><input type="checkbox" ng-model="itemData.suspendable"><i></i>完成后暂停</label>
		<a href="javascript:void(0)" title="编辑" class="btn-showdetail-job"><i class="fa fa-pencil"></i></a>
		<a class="btn-move-job-up" href="javascript:void(0)" title="上移"><i class="fa fa-arrow-up"></i></a>
		<a class="btn-move-job-down" href="javascript:void(0)" title="下移"><i class="fa fa-arrow-down"></i></a>
		<a class="btn-drag-job" ng-drag-job="" href="javascript:void(0)" title="拖放" draggable="true"><i class="fa fa-arrows"></i></a>
		<a class="btn-remove-job" href="javascript:void(0)" title="删除"><i class="fa fa-remove"></i></a>
	</td>
</tr>
<tr ng-if="itemData.suspendable">
	<td class="text-center"colspan="5">
		<label>暂停描述：</label>
		<input type="text" class="inline form-control" style="width:60%" ng-model="itemData.description"/>
	</td>
</tr>
<tr class="content" style="display: none">
	<td colspan="5" ng-file-upload="">
		<div class="col-md-12">
			<label class="control-label">选择文件：</label>
			<div class="control-input" data-content="必填项" value="{{(serverFileListData.length+uploaderList.length)}}">
				<span class="file-btn btn btn-info"><i class="fa fa-upload"></i> 添加本地文件
					<input type="file" id="btnFileUpload" multiple>
				</span>
				<button class="btn btn-md btn-info" ng-click="addServerFile()"><i class="fa fa-cloud"></i>添加服务器文件</button>
			</div>
		</div>
		<div class="col-md-12">
			<label class="control-label">文件列表：</label>
			<div class="control-input server-list" style="margin-left: 0">
				<table class="file-table table bg-white-only b-a">
					<thead>
					<tr>
						<th class="text-center" width="25%">文件列表</th>
						<th class="text-center" width="15%">服务器地址</th>
						<th class="text-center" width="30%">进度</th>
						<th class="text-center" width="10%">状态</th>
						<th class="text-center" width="20%" style="min-width: 108px">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-if="(serverFileListData.length==0&&uploaderList.length==0)">
						<td colspan="5" class="text-center">请选择源文件!</td>
					</tr>
					<tr ng-repeat="item in uploaderList">
						<td class="text-center"><strong>{{ item.file.name }}</strong></td>
						<td nowrap class="text-center">本地文件[{{ item.file.size/1024|number:2 }} KB]</td>
						<td class="text-center">
							<div class="progress progress-sm m-b-none m-t-xs">
								<div class="progress-bar bg-success" role="progressbar" ng-style="{ 'width': item.progress + '%' }" animate="true"></div>
							</div>
						</td>
						<td class="text-center">
							<span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
						<td class="text-center">
							<button type="button" class="btn btn-default btn-xs" ng-click="upload(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">取消</button>
							<button type="button" class="btn btn-default btn-xs" ng-click="removeServerFile(1,$index)">移除</button>
						</td>
					</tr>
					<tr ng-repeat="item in serverFileListData">
						<td class="text-center" ng-bind="item.name"></td>
						<td class="text-center">服务器文件</td>
						<td class="text-center"> - </td>
						<td class="text-center"> - </td>
						<td class="text-center">
							<button type="button" class="btn btn-default btn-xs" ng-click="removeServerFile(2,$index)">删除</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-12 m-b-sm">
			<label class="control-label">超时时间：</label>
			<input type="number" class="form-control control-input" ng-model="itemData.timeout" placeholder="请输入超时时间，单位为秒，默认600秒"/>
		</div>
		<div ng-if="!hideTarget">
			<div class="col-md-12">
				<label class="control-label">目标机器：</label>
				<div class="control-input">
					<button class="btn btn-sm btn-success" ng-click="selectServer()" data-content="必填项" value="{{serverListData.length}}"><i class="fa fa-desktop"></i> 选择服务器</button>
					<div class="pull-right" ng-show="isShowServer">
						<button class="btn btn-sm btn-danger" ng-click="clearServer()">清空IP</button>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="server-list">
					<table st-table="displayListData" st-safe-src="serverListData" class="table table-striped">
						<thead>
						<tr>
							<th class=""> IP</th>
							<th>状态</th>
							<th class="text-center" style="width: 180px">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-if="(serverListData.length==0)">
							<td class="text-center" colspan="3">请选择服务器</td>
						</tr>
						<tr ng-repeat="row in displayListData">
							<td class="text-left" ng-bind="row.ip"></td>
							<td class="text-left" ng-bind="row.status|cn:'status'"></td>
							<td class="text-center">
								<button class="btn btn-xs w-xxs btn-danger" ng-click="delServer($index)">删除</button>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="2" class="text-left">
								<div>每页{{itemsByPage}}条，共选择{{totalSelect}}条</div>
							</td>
							<td colspan="3" class="text-right">
								<div st-pagination="" st-item-data="serverListData" st-items-by-page="5"
								     st-displayed-pages="7" class="no-margin"></div>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</td>
</tr>