
	<section id="content" ng-controller="HostDetailCtrl">
		<div class="container ">
	<div class="card">
			<div class="card-body card-padding" >

				<tabset class="tab-container">
					<tab >
						<tab-heading>
							主机详情
						</tab-heading>
						<div class="pmb-block" data-ng-controller="profileCtrl as pctrl">
							<div class="pmbb-header">
								<h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

								<ul class="actions dropdown-menu-right" data-ng-if="pctrl.editInfo === 0">
									<li class="dropdown" uib-dropdown>
										<a href="" uib-dropdown-toggle>
											<i class="zmdi zmdi-more-vert"></i>
										</a>

										<ul class="dropdown-menu dropdown-menu-right">
											<li>
												<a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="pmbb-body p-l-30">
								<div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
									<dl class="dl-horizontal">
										<dt>主机名称</dt>
										<dd>{{ pctrl.fullName }}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Gender</dt>
										<dd>{{ pctrl.gender }}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Birthday</dt>
										<dd>{{ pctrl.birthDay }}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Martial Status</dt>
										<dd>{{ pctrl.martialStatus }}</dd>
									</dl>
								</div>

								<form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
									<dl class="dl-horizontal">
										<dt class="p-t-10">主机名称</dt>
										<dd>
											<div class="fg-line">
												<input data-ng-model="pctrl.fullName" type="text" class="form-control" value="{{ pctrl.fullName }}" placeholder="eg. Mallinda Hollaway">
											</div>

										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt class="p-t-10">Gender</dt>
										<dd>
											<div class="fg-line">
												<select class="form-control">
													<option>Female</option>
													<option>Male</option>
													<option>Other</option>
												</select>
											</div>
										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt class="p-t-10">Birthday</dt>
										<dd>
											<div class="dtp-container dropdown fg-line">
												<input type='text' class="form-control" data-dt-picker="DD/MM/YYYY" uib-dropdown-toggle placeholder="eg. 23/06/1988">
											</div>
										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt class="p-t-10">Martial Status</dt>
										<dd>
											<div class="fg-line">
												<select class="form-control">
													<option>Single</option>
													<option>Married</option>
													<option>Other</option>
												</select>
											</div>
										</dd>
									</dl>

									<div class="m-t-30">
										<button class="btn btn-primary btn-sm" type="submit">Save</button>
										<button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</tab>
					<tab >
						<tab-heading>
							网络设备
						</tab-heading>
						<div class="row  pad-10" >
							ffffdffd
						</div>
					</tab>

				</tabset>
			</div>
	</div>
		</div>
	</section>
