<div ng-controller="IntegrateCtrl" class="clearfix script-content">
    <div class="wrapper-md">
        <div class="panel panel-default" ng-show="!showDetail">
            <div class="">
                <div class="col-md-12 search-box m-b-md" style="float:none;">
                    <div class="legend">查询条件</div>
                    <div class="search-content">
                        <div class="form-group">
                            <label class="control-label">集成名称：</label>
                            <input type="name" ng-model="searchByName" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                        </div>
                    </div>
                    <div class="search-btn">
                        <button class="btn btn-info w-xs m-r" ng-click="getData(1)"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-primary w-xs m-r" ng-click="add($event)"><i class="fa fa-plus-circle"></i> 新增</button>
                    </div>
                </div>

                <div class="col-md-12" style="float:none;">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: -10px;">
                                <table class="table table-striped b-light m-b-xxs">
                                    <thead class="table-header">
                                    <tr>
                                        <th width="15%" class="font-15 text-center">集成名称</th>
                                        <th width="10%" class="font-15 text-center">集成状态</th>
                                        <th width="15%" class="font-15 text-center">管理用户</th>
                                        <th width="10%" class="font-15 text-center">管理密码</th>
                                        <th width="20%" class="text-center font-15">服务地址</th>
                                        <th class="text-center td-operate font-15" width="30%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="(key,row) in ciToolList" ng-if="!isImageData">
                                        <td width="15%" class="font-15 detail-href text-center text-overflow" style="max-width:158px;" title="{{row.name}}" ng-bind="row.name" ng-click="detail(row.id)"></td>
                                        <td width="10%" class="font-15 text-center">
                                            <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[row.status]" title="{{row.status|cnUser:'status'}}" ng-bind="row.status|cnUser:'status'"></button>
                                        </td>
                                        <td width="15%" class="font-15 text-center text-overflow" style="max-width:157px;" title="{{row.username}}" ng-bind="row.username"></td>
                                        <td width="10%" class="font-15 text-center" title="{{row.password1}}" ng-bind="row.password1"></td>
                                        <td width="20%" class="font-15 text-center" style="max-width:209px;" title="{{row.address}}" ng-bind="row.address"></td>
                                        <td width="30%" class="td-operate text-center">
                                            <button class="btn btn-warning btn-sm" ng-click="sync($event,row)">
                                                <i class="fa fa-hourglass-start"></i>
                                                <span class="">同步</span>
                                            </button>
                                            <button class="btn btn-info btn-sm" ng-click="user($event,row.id)">
                                                <i class="fa fa-user-secret fa-fw"></i>
                                                <span class="">任务列表</span>
                                            </button>
                                            <button class="btn btn-success btn-sm" ng-click="update($event,row)">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span class="">编辑</span>
                                            </button>
                                            <button class="btn btn-danger btn-sm" ng-click="remove(row.id)">
                                                <i class="fa fa-pencil-square-o"></i>
                                                <span class="">删除</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-if="isImageData">
                                        <td class="td-nodata"></td>
                                        <td class="td-nodata">暂无数据</td>
                                        <td class="td-nodata"></td>
                                        <td class="td-nodata"></td>
                                        <td class="td-nodata"></td>
                                        <td class="td-nodata"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <div class="col-sm-6">
                                        <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                    </div>
                                    <div class="col-sm-6 text-right" style="margin-top: 0px;">
                                        <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>