<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                WWY

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">

            <li>
                <a href="" data-ui-sref="login" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-time-restore"></i> 退出</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> 数据纵览</a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('basis') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-view-compact"></i> 基础设施</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="basis.host" data-ng-click="mactrl.sidebarStat($event)">资源池</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="basis.storage" data-ng-click="mactrl.sidebarStat($event)">存储券</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="basis.network" data-ng-click="mactrl.sidebarStat($event)">网络管理</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="basis.warehouse" data-ng-click="mactrl.sidebarStat($event)">镜像仓库</a></li>
            </ul>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('collocate') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-widgets"></i> 配置中心</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="collocate.resource" data-ng-click="mactrl.sidebarStat($event)">资源配置</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="collocate.applycollocate" data-ng-click="mactrl.sidebarStat($event)">应用配置</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="collocate.files" data-ng-click="mactrl.sidebarStat($event)">文件配置</a></li>
             </ul>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('application') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-view-list"></i> 应用管理</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="application.image" data-ng-click="mactrl.sidebarStat($event)">应用镜像</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="application.deploy" data-ng-click="mactrl.sidebarStat($event)">应用部署</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="application.tasklist" data-ng-click="mactrl.sidebarStat($event)">应用编排</a></li>
            </ul>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('system') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-apps"></i> 系统维护</a>

            <ul>
             <li><a data-ui-sref-active="active" data-ui-sref="system.s_control" data-ng-click="mactrl.sidebarStat($event)">接入控制</a></li>
             <li><a data-ui-sref-active="active" data-ui-sref="system.s_vocabulary" data-ng-click="mactrl.sidebarStat($event)">数据字典</a></li>
             <li><a data-ui-sref-active="active" data-ui-sref="system.s_availability" data-ng-click="mactrl.sidebarStat($event)">高可用</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('monitoring') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-trending-up"></i>监控中心</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="monitoring.m_resource" data-ng-click="mactrl.sidebarStat($event)">资源监控</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="monitoring.m_apply" data-ng-click="mactrl.sidebarStat($event)">应用监控</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="monitoring.m_serve" data-ng-click="mactrl.sidebarStat($event)">服务监控</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('log') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i>日志中心</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="log.l_system" data-ng-click="mactrl.sidebarStat($event)">系统日志</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="log.l_apply" data-ng-click="mactrl.sidebarStat($event)">应用日志</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="log.l_gather" data-ng-click="mactrl.sidebarStat($event)">日志收集</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('user-interface') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-account"></i>用户中心</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="user-interface.users" data-ng-click="mactrl.sidebarStat($event)">用户管理</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="user-interface.role" data-ng-click="mactrl.sidebarStat($event)">角色管理</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="user-interface.jurisdiction" data-ng-click="mactrl.sidebarStat($event)">权限管理</a></li>
            </ul>
        </li>

    </ul>
</div>
