<div ng-controller="PublishFileCtrl"  class="wrapper-sm">
		<div class="panel panel-default" ng-show="!showDetail">
			<div class="row">
				<div class="col-md-12">
					<form novalidate name="fileForm">
						<div class="form-group">
							<label class="control-label">任务名称：</label>
							<input type="text" class="form-control control-input" ng-model="itemData.name" data-content="必填项"/>
						</div>
						<div class="operation-box" ng-file-upload="">
							<div class="operation-title" data-content="必填项" value="{{(serverFileListData.length+uploaderList.length)}}">
								<label class="pull-left font-bold"><i class="fa fa-database"></i> 源文件：</label>
								<div class="pull-right">
									<div class="file-btn btn btn-info"><i class="fa fa-upload"></i> 添加本地文件
										<input type="file" id="btnFileUpload" multiple>
									</div>
									<button class="btn btn-md btn-info" ng-click="addServerFile()">
										<i class="fa fa-cloud"></i> 添加服务器文件
									</button>
								</div>
							</div>
							<div class="file-list m-t-lg">
								<table class="table bg-white-only b-a file-table">
									<thead>
									<tr>
										<th class="text-center" width="25%">文件列表</th>
										<th class="text-center" width="15%">服务器地址</th>
										<th class="text-center" width="30%">进度</th>
										<th class="text-center" width="10%">状态</th>
										<th class="text-center" width="20%" style="min-width: 108px">操作</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-if="(serverFileListData.length==0&&uploaderList.length==0)">
										<td colspan="5" class="text-center">请选择源文件!</td>
									</tr>
									<tr ng-repeat="item in uploaderList">
										<td class="text-center"><strong>{{ item.file.name }}</strong></td>
										<td nowrap class="text-center">本地文件[{{ item.file.size/1024|number:2 }} KB]</td>
										<td class="text-center">
											<div class="progress progress-sm m-b-none m-t-xs">
												<div class="progress-bar bg-success" role="progressbar" ng-style="{ 'width': item.progress + '%' }" animate="true"></div>
											</div>
										</td>
										<td class="text-center">
											<span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
											<span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
											<span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
										</td>
										<td class="text-center">
											<button type="button" class="btn btn-default btn-xs" ng-click="upload(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传</button>
											<button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">取消</button>
											<button type="button" class="btn btn-default btn-xs" ng-click="removeServerFile(1,$index)">移除</button>
											</td>
									</tr>
									<tr ng-repeat="item in serverFileListData">
										<td class="text-center" ng-bind="item.name"></td>
										<td class="text-center">服务器文件</td>
										<td class="text-center"> - </td>
										<td class="text-center"> - </td>
										<td class="text-center">
											<button type="button" class="btn btn-default btn-xs" ng-click="removeServerFile(2,$index)">删除</button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="operation-box">
							<div class="operation-title">
								<label class="pull-left font-bold"><i class="fa fa-inbox"></i> 目标文件：</label>
							</div>
							<div class="form-group m-t-md">
								<label class="control-label">目标路径：</label>
								<input type="text" class="form-control control-input" ng-model="itemData.targetPath" data-content="必填项"/>
							</div>
							<div class="form-group">
								<label class="control-label">认证方式：</label>
								<select class="form-control control-input" name="account" ng-model="itemData.identMode" validator="required" ng-change="selectMode()">
									<option ng-repeat="(key,item) in identModeData" ng-selected="identMode==key" value="{{key}}" ng-bind="item"></option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label">执行账户：</label>
								<select class="form-control control-input" ng-model="itemData.identId" data-content="必填项"  ng-disabled="isExecuteAccount">
									<option value="">--请选择--</option>
									<option ng-repeat="item in accountData" value="{{item.id}}" ng-bind="item.name"></option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label">目标机器：</label>
								<div class="control-input">
									<button class="btn btn-sm btn-success" ng-click="selectServer()" data-content="必填项" value="{{serverListData.length}}"><i class="fa fa-desktop"></i> 选择服务器</button>
									<div class="pull-right" ng-show="isShowServer">
										<button class="btn btn-sm btn-danger" ng-click="clearServer()">清空IP</button>
									</div>
								</div>
							</div>
							<div class="form-group" ng-show="isShowServer">
								<div class="servers-list">
									<table st-table="displayListData" st-safe-src="serverListData" class="table table-striped">
										<thead>
										<tr>
											<th>IP</th>
											<th>状态</th>
											<th class="text-center" style="width: 180px">操作</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-if="(serverListData.length==0)">
											<td class="text-center" colspan="3">请选择服务器</td>
										</tr>
										<tr ng-repeat="row in displayListData">
											<td ng-bind="row.ip"></td>
											<td ng-bind="row.status|cn:'status'"></td>
											<td class="text-center">
												<button class="btn btn-xs w-xxs btn-danger" ng-click="delServer($index)">删除</button>
											</td>
										</tr>
										</tbody>
										<tfoot>
										<tr>
											<td colspan="2" class="text-left">
												<div>每页{{itemsByPage}}条，共选择{{totalSelect}}条</div>
											</td>
											<td colspan="3" class="text-right">
												<div st-pagination="" st-item-data="serverListData" st-items-by-page="itemsByPage"
												     st-displayed-pages="7" class="no-margin"></div>
											</td>
										</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">失败重试：</label>
							<label class="i-checks m-r m-t-sm">
									<input type="checkbox" name="failover"  ng-model="itemData.failover"><i></i>是否重试
								</label>
						</div>
						<div class="form-group source-list" ng-if="itemData.failover">
							<div class="inline select-interval-width">
								<label>重试次数：</label>
								<div class="inline w-interval">
									<input type="number" class="inline form-control"  ng-blur="validateValue('retryTime',3)"   ng-model="itemData.retryTime"/>
								</div>
							</div>
							<div class="inline select-interval-width">
								<label>重试时间/秒：</label>
								<div class="inline w-interval">
									<input type="number" class="inline form-control" ng-blur="validateValue('intervalTime',10)" ng-model="itemData.intervalTime"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">超时时间/秒：</label>
							<input type="number" class="form-control control-input" ng-model="itemData.timeout" placeholder="请输入超时时间，单位为秒，默认600秒" ng-blur="validateValue('timeout',600)"/>
						</div>
						<div class="form-group text-center">
							<button class="btn btn-primary" ng-click="execute()" ng-validator-popover="fileForm" $invalid="$invalid" ng-disabled="$invalid"><i class="fa fa-life-saver"></i> 开始执行</button>
						</div>
						<div class="see-result" ng-click="seeResult()" ng-if="showSeeResult"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default" ng-execute-job-detail="" ng-if="showDetail" ng-class="{true: 'bounceInRight', false: 'bounceOutRight'}[isActive]"></div>
	</div>