<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancle()">&times;</button>
	<p class="modal-title panel-title-size">下载文件列表 </p>
</div>
<div class="modal-body panel-body">
	<table st-table="displayListData" st-safe-src="listData" class="table table-striped">
		<thead>
		<tr>
			<th colspan="5">
				<input st-search placeholder="通过IP、状态进行过滤" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		<tr>
			<th class="text-center">IP</th>
			<th class="text-center">文件名称</th>
			<th class="text-center">操作</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in displayListData">
			<td class="text-center" ng-bind="row.targetIp"></td>
			<td class="text-center" ng-bind="row.filename"></td>
			<td class="text-center">
				<a class="btn btn-sm btn-info" ng-click="download(row.fullPath)"><i class="glyphicon glyphicon-save"></i> 下载</a>
			</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="2" class="text-left">
				<div>每页{{itemsByPage}}条，共{{total}}条</div>
			</td>
			<td colspan="3" class="text-right">
				<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
			</td>
		</tr>
		</tfoot>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancle()">关闭</button>
</div>