.panel div.monitor-header{
    font-weight: 700;
}
.panel div.clear-float{
    float:none;padding: 0 5px;
}
.panel .monitor-body-empty{
    color: #a2a2a2;
    text-align: center;
    padding-top: 100px;
    height: 340px;
    display: block;
}
.fa-plus-icon{
    color:#2277da;
}
.monitor-left{
    background-color: #eee;
    /*border: 1px solid #dfe4e7;*/
    margin-right:5px;
}
.monitor-left-header{
    font-weight: 700;
    font-size: 15px;
    padding: 8px;
}
.monitor-right{
    background-color: #fff;
    border: 1px solid #dfe4e7;
    margin-left:5px;
}
.monitor-content .detail-href{
    color: #428bca;
    text-decoration: none;
    padding:5px 8px;
}
.monitor-content .detail-href:hover,.monitor-content .detail-href:focus{
    color: #2a6496;
    text-decoration: underline;
    cursor:pointer;
}
.timeline-content{
    height:42px;
    border-bottom: 1px dashed #ccc;
}
div .timeline{
    float: left;
    padding: 1px 8px;
    margin: 0 5px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
div .timeline:hover,div .timeline:focus,div .timeline-active{
    color: #fff;
    background-color:#2277da;
    border-radius:3px;
    text-decoration: none;
    cursor:pointer;
}
div .timeline1{
    float: left;
    padding: 1px 8px;
    font-size: 12px;
}
div .timeline1 .w-md{
    width:354px;
    display:inline-block;
    height: 26px;
}
.dynamics-text{
    padding-right: 3px;
    height: 32px;
    line-height: 32px;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.console-title{
    margin-top: 25px;
    margin-bottom: 15px;
    text-indent: 8px;
    border-left: 3px solid #88B7E0;
    font-size: 18px;
    font-weight: 700;
}
.height-34{
    height:34px;
}
.width-74{
    width:74%;
}
.search-content1 .width-74{
    width: calc(100% - 85px);
    float: right;
}
.search-content1{
    border-bottom: 1px solid #ddd;
}
.margin-top-10{
    margin-top:-10px;
}
.selcet-style{
    display: inline-block;
    width: 75px;
    margin-left: -10px;
}
.console-content .chart-content{
    height:330px;
    background: rgba(237, 237, 237, 0.38);
    overflow-x:auto;
}
.console-content .chart-query{
    height:400px;
    background: rgba(237, 237, 237, 0.38);
    overflow-x:auto;
}

/*监控项管理*/
.search-content .control-label {
    width: 94px;
    text-align: right;
}
.detail .search-content .form-group {
    margin:0;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}
.detail .input-error-info>span>label{
    margin-left: 100px;
}
.detail .row{
    margin-left:0;
    margin-right: 0;
}
.detail .search-content .form-group.remark {
    width: 100%;
    display: inline-block;
}
.detail .search-content {
    border-bottom: none;
}
.m-t-n-7 {
    margin-top: -7px;
}
.m-t-n-70{
    margin-top: -70px;
}
.btn-list .btn{
    width: 100%;
}
/*配置下发*/
.operation-box .control-label{
    float: left;
}
.operation-box .control-input{
    float: left;
    width: calc(100% - 340px);
}

.servers-list {
    margin-left: 80px;
    width: calc(100% - 340px);
    border-top: 2px solid #4A9BFF;
}

.detail-table {
    width: 100%;
}
.input-aggregation{
    width: 80px;
    height: 28px;
}

/*详情表格*/
.detail-table{
    width: 100%;
}
.detail-table td, .detail-table th{
    padding: 6px 8px;
    border: 1px solid #ddd;
}
.detail-table td.title{
    width: 85px;
    font-size: 12px;
    font-weight: bold;
}
.title-line{
    padding: 20px 10px;
    margin-top: 25px;
    border-top: 1px solid #ddd;
}
.log-detail{
    padding: 15px;
    border: 1px solid #eee;
    background: #1C2026;
    color: #fff;
    height: 300px;
    overflow: auto;
}
.select{
    background: #eee !important;
}
.clear-padding{
    padding: 0;
}
.table-body tr{
    cursor: pointer;
}
.title-line .pagination{
    margin: 0;
}
td>div.datagrid-cell{
    max-width: none !important;
}
.r-line{
    display: inline-block;
    position: relative;
    top: 10px;
    height: 100%;
    width: 2px;
    background: #bbb;
}
.w-full{
    width: 100% !important;
}