<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size">新增数据中心</p>
</div>
<div class="modal-body panel-body">
	<form class="form-horizontal form-validation" name="adddataCenterForm">
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label">中心名称：</label>
				<div class="control-input">
					<input type="text" name="name" class="form-control" ng-focus="foucs()" ng-blur="blur()" ng-model="addData.name" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label">具体地址：</label>
				<div class="control-input">
					<input type="text" name="address" class="form-control" ng-model="addData.address" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>			
		</div>
		<div class="form-group" ng-if="isSame">
			<div class="col-lg-6">
				<label class="control-label"></label>
				<div class="control-input">
					<p style="color:#f05050;margin-left: -13px;margin-top: -6px;">中心名称已存在</p>
				</div>
			</div>
			<div class="col-lg-6"></div>			
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label">联系电话：</label>
				<div class="control-input">
					<input type="text" name="contactPhone" class="form-control" ng-model="addData.contactPhone" validator="required,cellphone">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label">联系人名：</label>
				<div class="control-input">
					<input type="text" name="contacter" class="form-control" ng-model="addData.contacter" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label">联系邮箱：</label>
				<div class="control-input">
					<input type="email" name="contactEmail" class="form-control" ng-model="addData.contactEmail" validator="required,email" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label">紧急电话：</label>
				<div class="control-input">
					<input type="text" name="emergencyPhone" class="form-control" ng-model="addData.emergencyPhone" validator="required,phone">
				</div>
			</div>		
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label">承建商名：</label>
				<div class="control-input">
					<input type="text" name="vendor" class="form-control" ng-model="addData.vendor" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label">投产日期：</label>
				<div class="control-input">
					<input type="text" name="date" class="form-control"  style="background: #fff" ui-jq="daterangepicker" ui-options="{format:'YYYY-MM-DD',singleDatePicker:true,maxDate:today}" ng-model="addData.commissionDate" readonly>
				</div>
			</div>
		</div>		
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label">物理位置：</label>
				<div class="control-input special-select m-r-xxs">
					<select class="form-control" name="province" ng-model="provinceItem" validator="required" ng-change="selectProvince()">
						<option value="">--请选择--</option>
						<option ng-repeat="item in chinaMap"  value="{{item}}" ng-bind="item.name"></option>
					</select>
				</div>
				<div class="control-input  special-select">
					<select class="form-control" name="city" ng-model="cityItem" validator="required">
						<option value="">--请选择--</option>
						<option ng-repeat="item in cityData"  value="{{item}}" ng-bind="item.name"></option>
					</select>
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label">总共面积：</label>
				<div class="control-input-span">
					<input type="number" name="totalArea" class="form-control" ng-model="addData.totalArea" validator="required,positiveNumber" min="1"  required-error-message="请输入内容">
				</div>
				<div class="sup col-lg-1">m<sup>2</sup></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="control-label">详细描述：</label>
				<div class="control-input">
					<textarea class="form-control" name="remark" ng-model="addData.remark" maxlength="256" maxlength-error-message="最多输入256个字符"></textarea>
				</div>
			</div>			
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" validation-submit="adddataCenterForm" ng-disabled="adddataCenterForm.$invalid" ng-click="ok()">确认</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>