<div class="content-byc image-content" ng-controller="tenantDetailCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]"
         ng-if="showDetail==1">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading">
                            <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                            <span class="p-l-6">租户详情</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block" style="border:none;">
                            <div class="form-horizontal">
                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">基本信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户名称：</dt>
                                                    <dd ng-bind="tenantDetail.name"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户状态：</dt>
                                                    <dd>
                                                        <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[tenantDetail.status]" title="{{tenantDetail.status|cnUser:'status'}}" ng-bind="tenantDetail.status|cnUser:'status'"></button>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户电话：</dt>
                                                    <dd ng-bind="tenantDetail.tenantPhone"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">业务信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>公司名称：</dt>
                                                    <dd ng-bind="tenantDetail.company"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>公司地址：</dt>
                                                    <dd ng-bind="tenantDetail.address"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>联系人员：</dt>
                                                    <dd ng-bind="tenantDetail.contacter"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>联系电话：</dt>
                                                    <dd ng-bind="tenantDetail.contactPhone"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>联系邮箱：</dt>
                                                    <dd ng-bind="tenantDetail.contactEmail"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="pmbb-header">
                                        <h5 class="console-title">其他信息</h5>
                                    </div>
                                    <div class="pmbb-body p-l-30">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>CPU核数：</dt>
                                                    <dd>{{tenantDetail.cpu}}核</dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>内存大小：</dt>
                                                    <dd>{{tenantDetail.memory}}G</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>磁盘大小：</dt>
                                                    <dd>{{tenantDetail.disk}}G</dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>其他属性：</dt>
                                                    <dd ng-bind="tenantDetail.moreProp"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt>租户描述：</dt>
                                                    <dd ng-bind="tenantDetail.remark"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-md-12 group-panel">
            <div class="">
                <div class="panel-heading">
                    <button class="btn btn-primary" ng-click="goBack()">
                        <i class="fa fa-reply icon-font" aria-hidden="true"></i>
                        <span>返回</span>
                    </button>
                </div>
                <div class="update-cont">
                    <form class="col-md-12 title-desc" name="updateForm">
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">用户名称：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.username"></p>
                            </div>
                        </div>
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">Email：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.email"></p>
                            </div>
                        </div>
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">电话：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.phone"></p>
                            </div>
                        </div>
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">移动电话：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.mobile"></p>
                            </div>
                        </div>
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">状态：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.status|cn:'status'"></p>
                            </div>
                        </div>
                        <div class="col-md-12 desc-content">
                            <label class="input-header update-txt-one">描述：</label>
                            <div class="col-lg-5">
                                <p class="input-content" ng-bind="userDetail.remark"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
    </div>
</div>