<div class="content-byc image-content" ng-controller="tenantRoleCtrl">
    <div class="animated update-content" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]"
         ng-if="showDetail==1">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">租户下的角色列表</span>
                            <button class="btn btn-info pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-body pmb-block" style="border:none;">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <table class="table table-striped b-light m-b-xxs">
                                        <thead class="table-header">
                                        <tr>
                                            <th width="30%" class="font-15 text-center">名称</th>
                                            <th width="30%" class="font-15 text-center">状态</th>
                                            <th width="40%" class="font-15 text-center">描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-content" ng-repeat="(key,row) in roleList" ng-if="!isImageData">
                                            <td width="30%" class="font-15 text-center text-overflow" style="max-width:310px;" title="{{row.name}}" ng-bind="row.name"></td>
                                            <td width="30%" class="font-15 text-center">
                                                <button class="btn btn-xs disabled" style="width:50px;" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[row.status]" title="{{row.status|cn:'status'}}" ng-bind="row.status|cn:'status'"></button>
                                            </td>
                                            <td width="40%" class="font-15 text-center text-overflow" style="max-width:413px;" title="{{row.remark}}" ng-bind="row.remark"></td>
                                        </tr>
                                        <tr ng-if="isImageData">
                                            <td class="td-nodata" colspan="3">暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix">
                                        <div class="col-sm-6" style="padding:7px 15px;">
                                            <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>