<div class="login-container" ng-auto-pos>
      <div class="form-row text-center m-b-sm">
          <img class="m-t-n-sm m-r-sm" width="80" src="/statics/img/logo.png">
          <span class="login-title-text">云运维平台</span>
      </div>
        <form class="form-validation" name="loginForm" novalidate="novalidate">
          <div class="list-group">
            <label><img src="/statics/img/user.png" alt=""></label>
            <div class="list-group-cell">
              <input type="text" name="username" class="form-control no-border" placeholder="请输入用户名" ng-model="user.username" required>
            </div>
          </div>
          <div class="list-group">
            <label><img src="/statics/img/password.png" alt=""></label>
            <div class="list-group-cell">
              <input type="password" name="password" class="form-control no-border" placeholder="请输入密码" ng-model="user.password" required>
            </div>
          </div>
          <div class="list-group">
            <label><img src="/statics/img/code.png" alt=""></label>
            <div class="list-group-cell code-group">
              <input type="text" name="vertifyWord" class="form-control no-border"  placeholder="验证码" ng-model="user.code" required>
              <div class="code-style"><img src="{{url}}" class="certify-code" ng-click="refreshCode()"></div>
            </div>
          </div>
          <div class="list-group">
            <div class="checkbox m-b-md m-t-none m-l-xs">
              <label class="i-checks">
                <input type="checkbox" ng-model="remember"><i></i> 记住密码
              </label>
            </div>
          </div>
          <div class="list-group">
            <button class="btn w-sm btn-success m-l-xxl" type="submit" ng-disabled="loginForm.$invalid" ng-click="login()">登 录</button>
          </div>
        </form>
    </div>
<div ui-butterbar ng-class="{true: 'active', false: 'hide'}[isLoadingActive]" class="access-load"></div>
