<div class="search-box m-b-sm">
	<div class="legend">基本信息</div>
	<div class="search-content execute-info">
		<div class="form-group">
			<label class="control-label font-bold">作业名称：</label>
			<span ng-bind="taskDetailData.name"></span>
		</div>
		<div class="form-group">
			<label class="control-label font-bold">执行结果：</label>
			<button class="btn btn-primary btn-xs disabled" ng-class="{'SUCCESS':'btn-success','FAIL':'btn-danger'}[taskDetailData.status]" ng-bind="taskDetailData.status|cn:'taskStatus'"></button>
		</div>
		<div class="form-group">
			<label class="control-label font-bold">启动人：</label>
			<span ng-bind="taskDetailData.operator"></span>
		</div>
		<div class="form-group">
			<label class="control-label font-bold">开始时间：</label>
			<span ng-bind="taskDetailData.startTime"></span>
		</div>
		<div class="form-group">
			<label class="control-label font-bold">结束时间：</label>
			<span ng-bind="taskDetailData.endTime"></span>
		</div>
		<div class="form-group">
			<label class="control-label font-bold"> 总耗时(s)：</label>
			<span ng-bind="taskDetailData.cost"></span>
		</div>
	</div>
	<div class="search-btn m-t-sm">
		<button class="btn btn-success w-sm" ng-click="goPage(1)"><i class="fa fa-reply icon-font"></i> 返回</button>
	</div>
</div>
<div class="search-box m-t-md">
		<div class="legend">节点信息</div>
		<div class="search-content" style="border-bottom: none">
			<div class="panel">
					<canvas id="canvasexecute">sorry,your browser do not support canvas label</canvas>
			</div>
			<ul class="node-menu" id="contextmenu" style="display:none;">
				<li><a tip="1">继续</a></li>
				<li><a tip="2">取消</a></li>
			</ul>
		</div>
	</div>
<div class="search-box m-t-md">
	<div class="legend">节点详情</div>
	<div class="row search-content task-node-detail" ng-show="!isShowInfo">
		请点击节点获取相应信息
	</div>
	<div class="row search-content task-node-detail" ng-show="isShowInfo">
		<div class="col-md-12">
			<table class="detail-table">
				<tr>
					<td class="title">节点名称</td>
					<td ng-bind="jobDetailData.name"></td>
					<td class="title">节点类型</td>
					<td ng-bind="jobDetailData.type|cn:'taskType'"></td>
					<td class="title">执行账户</td>
					<td ng-bind="jobDetailData.username"></td>
					<td class="title">总时间（s）</td>
					<td><i class="fa fa-clock-o"></i> {{jobDetailData.cost}}</td>
				</tr>
				<tr>
					<td class="title">节点状态</td>
					<td><button class="btn btn-xs" ng-class="{'SUCCESS':'btn-success','FAIL':'btn-danger'}[jobDetailData.status]">{{jobDetailData.status|cn:'taskStatus'}}</button></td>
					<td class="title">开始时间</td>
					<td><i class="fa fa-clock-o"></i> {{jobDetailData.startTime}}</td>
					<td class="title">结束时间</td>
					<td><i class="fa fa-clock-o"></i> {{jobDetailData.endTime}}</td>
					<td class="title">重试次数</td>
					<td>{{jobDetailData.retryTime}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-12 title-line">
			<tabset class="tab-container">
				<tab style="float: right">
					<tab-heading>
						查看步骤详情
					</tab-heading>
					<div ng-if="(jobDetailData.type=='SCRIPT')" class="row task-node">
						<div class="col-md-12 m-t">
							<label class="control-label">脚本参数：</label>
							<input type="text" class="form-control control-input" ng-model="jobDetailData.params" disabled/>
						</div>
						<div class="col-md-12 m-t m-b">
							<label class="control-label">脚本内容：</label>
							<div class="control-input" ng-code-mirror2="" data="jobDetailData.content" >
								<div class="code-type">
									<label class="i-checks i-checks-sm">
										<input type="radio" name="codetype" value="SHELL" ng-model="jobDetailData.scriptType" disabled><i></i> shell
									</label>
									<label class="i-checks i-checks-sm">
										<input type="radio" name="codetype" value="BAT"  ng-model="jobDetailData.scriptType" disabled><i></i> bat
									</label>
									<label class="i-checks i-checks-sm">
										<input type="radio" name="codetype" value="PERL"  ng-model="jobDetailData.scriptType" disabled><i></i> perl
									</label>
									<label class="i-checks i-checks-sm">
										<input type="radio" name="codetype" value="PYTHON"  ng-model="jobDetailData.scriptType" disabled><i></i> python
									</label>
								</div>
								<textarea class="textarea"></textarea>
							</div>
						</div>
					</div>
					<div ng-if="(jobDetailData.type=='FILE')" class="row task-node">
						<div class="col-md-12 m-t">
							<label class="control-label">目标路径：</label>
							<input type="text" class="form-control control-input" ng-model="jobDetailData.targetPath" disabled/>
						</div>
						<div class="col-md-12 m-t">
							<label class="control-label">文件列表：</label>
							<div class="server-list">
								<table class="table table-striped b-light">
									<thead>
									<tr>
										<th class="text-center">文件列表</th>
										<th class="text-center">服务器地址</th>
										<th class="text-center" style="width: 180px">操作</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="row in jobDetailData.files">
										<td class="text-center" ng-bind="row.name"></td>
										<td class="text-center">-</td>
										<td class="text-center">无</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div ng-if="(jobDetailData.type=='BACKUP')" class="row task-node">
						<div class="col-md-12 m-t">
							<label class="control-label">备份路径：</label>
							<input type="text" class="form-control control-input" ng-model="jobDetailData.sourcePath" disabled/>
						</div>
					</div>
					<div ng-if="(jobDetailData.type=='RECOVERY')" class="row task-node">
						<div class="col-md-12 m-t">
							<label class="control-label">备份路径：</label>
							<input type="text" class="form-control control-input" ng-model="jobDetailData.sourcePath" disabled/>
						</div>
						<div class="col-md-12 m-t">
							<label class="control-label">目标路径：</label>
							<input type="text" class="form-control control-input" ng-model="jobDetailData.targetPath" disabled/>
						</div>
					</div>
				</tab>
				<tab select="getExecuteList(1,'SUCCESS')" ng-if="jobDetailData.successes">
					<tab-heading>
						执行成功({{jobDetailData.successes}})
					</tab-heading>
					<div class="row">
						<div class="col-md-6">
							<table class="detail-table">
								<thead>
								<tr>
									<th>IP</th>
									<th>返回结果</th>
									<th>耗时（s）</th>
								</tr>
								</thead>
								<tbody class="table-body">
								<tr ng-repeat="item in executeList" ng-class="{true:'select'}[item.isSelect]" ng-click="loadDetailLog($index,item.result)">
									<td ng-bind="item.targetIp"></td>
									<td ng-bind="item.status|cn:'taskStatus'"></td>
									<td ng-bind="item.cost"></td>
								</tr>
								</tbody>
							</table>
							<div class="col-md-12 clearfix m-t-xs clear-padding">
								<div class="col-sm-4 m-t-xs clear-padding">
									<div class="paginationTables_info_one">总共<span ng-bind="totalLog"></span>条, 每页<span ng-bind="param.rows"></span>条
									</div>
								</div>
								<div class="col-sm-8 text-right clear-padding">
									<pagination boundary-links="true" total-items="totalLog" items-per-page="param.rows" max-size="4" ng-model="param.page" ng-change="getExecuteList(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
								</div>
							</div>
						</div>
						<div class="col-md-6 log-detail">
							<p ng-if="logDetail.start">【开始时间】{{logDetail.start}}</p>
							<p ng-if="logDetail.end">【结束时间】{{logDetail.end}}</p>
							<p ng-if="logDetail.stdout">【输出結果】{{logDetail.stdout}}</p>
							<p ng-if="logDetail.msg">【输出結果】{{logDetail.msg}}</p>
							<p ng-if="logDetail.dest">【输出結果】{{logDetail.dest}}</p>
							<p ng-if="logDetail.stderror">【错误输出】{{logDetail.stderror}}</p>
						</div>
					</div>
				</tab>
				<tab class="result" select="getExecuteList(1,'FAIL')" ng-if="jobDetailData.failures">
					<tab-heading>
						执行失败({{jobDetailData.failures}})
					</tab-heading>
					<div class="row">
						<div class="col-md-6">
							<table class="detail-table">
								<thead>
								<tr>
									<th>IP</th>
									<th>返回结果</th>
									<th>耗时（s）</th>
								</tr>
								</thead>
								<tbody class="table-body">
								<tr ng-repeat="item in executeList" ng-class="{true:'select'}[item.isSelect]" ng-click="loadDetailLog($index,item.result)">
									<td ng-bind="item.targetIp"></td>
									<td ng-bind="item.status|cn:'taskStatus'"></td>
									<td ng-bind="item.cost"></td>
								</tr>
								</tbody>
							</table>
							<div class="col-md-12 clearfix m-t-xs clear-padding">
								<div class="col-sm-4 m-t-xs clear-padding">
									<div class="paginationTables_info_one">总共<span ng-bind="totalLog"></span>条, 每页<span ng-bind="param.rows"></span>条
									</div>
								</div>
								<div class="col-sm-8 text-right clear-padding">
									<pagination boundary-links="true" total-items="totalLog" items-per-page="param.rows" max-size="4" ng-model="param.page" ng-change="getExecuteList(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
								</div>
							</div>
						</div>
						<div class="col-md-6 log-detail">
							<p ng-if="logDetail.start">【开始时间】{{logDetail.start}}</p>
							<p ng-if="logDetail.end">【结束时间】{{logDetail.end}}</p>
							<p ng-if="logDetail.stdout">【输出結果】{{logDetail.stdout}}</p>
							<p ng-if="logDetail.msg">【输出結果】{{logDetail.msg}}</p>
							<p ng-if="logDetail.dest">【输出結果】{{logDetail.dest}}</p>
							<p ng-if="logDetail.stderror">【错误输出】{{logDetail.stderror}}</p>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
