<div ng-controller="dictionaryCtrl" class="clearfix script-content">
    <div class="wrapper-md">
        <div class="panel panel-default" ng-show="!showDetail">
            <div class="">
                <div class="search-btn" style="margin-left: 6px;margin-top: -40px;">

                </div>
                <!--<div class="col-md-12 search-box m-b-md">
                    <div class="legend">查询条件</div>
                    <div class="search-content">
                        <div class="form-group">
                            <label class="control-label">名称：</label>
                            <input type="name" ng-model="searchByName" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                        </div>
                    </div>
                    <div class="search-btn">
                        <button class="btn btn-info w-xs m-r" ng-click="getDataList()"><i class="fa fa-search"></i> 查询</button>
                        &lt;!&ndash;<button class="btn btn-primary w-xs m-r" ng-click="add(1,{},$event)"><i class="fa fa-plus-circle"></i> 新增</button>&ndash;&gt;
                        &lt;!&ndash;<button class="btn btn-success w-xs" ng-click="batchDelete()"><i class="fa fa-minus-circle"></i> 批量删除</button>&ndash;&gt;
                    </div>
                </div>-->

                <div class="">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <!--<div class="list-byc col-md-12 paddingleft" ng-if="isLoad" >
                                <tree-grid tree-data="tree_data" action-data="actionData" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="2" icon-leaf="glyphicon glyphicon-file"></tree-grid>
                            </div>-->
                            <div class="" style="margin:-10px 0 0 -10px;">
                                <table dictionary-grid id="dg" tree-data="treeData" get-data="getData(param)" class="easyui-treegrid"></table>
                                <!--<table dictionary-grid id="dg" tree-data="treeData" get-data="getData(param)" add="add(flag,item,$event)" remove="remove(item,$event)" class="easyui-treegrid"></table>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>