<div class="clearfix script-content" ng-task-main-router="">
	<div class="wrapper-md">
		<div class="panel panel-default" ng-controller="TaskTplCtrl" ng-show="(routerStatus == 1)">
			<div class="row">
				<div class="col-md-12 search-box m-b-md">
					<div class="legend">查询条件</div>
					<div class="search-content">
						<div class="form-group">
							<label class="control-label">模板名称：</label>
							<input type="text" class="form-control" ng-model="name" placeholder="请输入模板名称"/>
						</div>
						<div class="form-group">
							<label class="control-label">创建人：</label>
							<span style="position: relative" ng-auo-complete="" user-name="creator" user-id="createrId"></span>
						</div>
						<div class="form-group">
							<label class="control-label">修改人：</label>
							<span style="position: relative" ng-auo-complete="" user-name="mender" user-id="menderId"></span>
						</div>
						<div class="form-group">
							<label class="control-label">创建时间：</label>
							<input ng-model="date" class="form-control w-md" ui-jq="daterangepicker" ui-options="{format: 'YYYY/MM/DD'}" placeholder="请选择时间" />
						</div>
						<div class="form-group">
							<label class="control-label">修改时间：</label>
							<input ng-model="date1" class="form-control w-md" ui-jq="daterangepicker" ui-options="{format: 'YYYY/MM/DD'}" placeholder="请选择时间" />
						</div>
					</div>
					<div class="search-btn m-t">
						<button class="btn btn-primary w-xs m-r" ng-click="search()"><i class="fa fa-search"></i> 查询</button>
						<button class="btn btn-success w-xs m-r" ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
						<button class="btn btn-info w-xs" ng-click="addTpl(10,'')"><i class="fa fa-plus"></i> 新增模板</button>
					</div>
				</div>
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped b-light m-b-xxs">
							<thead style="background: #fefefe">
							<tr>
								<th class="text-center">模板名称</th>
								<th class="text-center">步骤数</th>
								<th class="text-center">创建人</th>
								<th class="text-center">最后修改人</th>
								<th class="text-center">创建时间</th>
								<th class="text-center">最后修改时间</th>
								<th class="text-center">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="(key,row) in taskTplListData">
								<td class="text-center" ng-bind="row.name"></td>
								<td class="text-center" ng-bind="row.stepSize"></td>
								<td class="text-center" ng-bind="row.creator"></td>
								<td class="text-center" ng-bind="row.mender"></td>
								<td class="text-center" ng-bind="row.gmtCreate"></td>
								<td class="text-center" ng-bind="row.gmtModify"></td>
								<td class="text-center">
									<!--<span class="r-line"></span>-->
									<button class="btn btn-sm btn-primary" ng-click="addTpl(11,row.id)"><i class="fa fa-pencil"></i> 编辑</button>
									<!--<span class="r-line"></span>-->
									<button class="btn btn-sm btn-danger" ng-click="remove(row.id)"><i class="fa fa-trash-o icon-font"></i> 删除</button>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="clearfix">
							<div class="col-sm-6">
								<div class="paginationTables_info">共有<span ng-bind="totalPage"></span>条记录，每页显示<span ng-bind="param.rows"></span>条
								</div>
							</div>
							<div class="col-sm-6 text-right">
								<pagination boundary-links="true" total-items="totalPage" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getTaskList(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default" ng-excute-detail="" ng-if="(routerStatus == 2)"></div>
		<div class="panel panel-default" ng-excute-result-detail="" ng-if="(routerStatus == 3)"></div>
		<div class="panel panel-default" ng-execute-job-detail="" ng-if="(routerStatus == 4)"></div>
	</div>
</div>
