<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size">修改用户密码</p>
</div>
<div class="modal-body panel-body">
	<form class="form-horizontal form-validation" name="updatePasswordForm">
		<div class="form-group">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label">原密码：</label>
				<div class="col-lg-10 control-input">
					<input type="password" name="oldPassword" class="form-control" ng-model="updateData.oldPassword" validator="required,password" maxlength="18">
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="isRight">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label"></label>
				<div class="col-lg-10 control-input">
					<p style="color:#f05050;">原密码错误</p>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label">新密码：</label>
				<div class="col-lg-10 control-input">
					<input type="password" name="newPassword" class="form-control" ng-click="getCurrFocus($event)" ng-model="updateData.newPassword" validator="required,password" maxlength="18">
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="isChange">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label"></label>
				<div class="col-lg-10 control-input">
					<p style="color:#f05050;">新密码不能与原密码相同</p>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label">确认密码：</label>
				<div class="col-lg-10 control-input">
					<input type="password" name="confirmPassword" class="form-control" ng-click="getFocus($event)" ng-model="updateData.confirmPassword" validator="required,password" maxlength="18">
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="isSame">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label"></label>
				<div class="col-lg-10 control-input">
					<p style="color:#f05050;">两次输入的密码不一致</p>
				</div>
			</div>
		</div>		
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" validation-submit="updatePasswordForm" ng-disabled="updatePasswordForm.$invalid" ng-click="ok()">确认</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>