<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addGroupManageSoftwareForm">
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">分组名称：</label>
                <div class="col-lg-10 control-input">
                    <input class="form-control" name="name" placeholder="分组名称" ng-model="name" validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">分组编码：</label>
                <div class="col-lg-10 control-input">
                    <input class="form-control" name="code" placeholder="分组编码" ng-model="code" validator="required" maxlength="64" type="text" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">分组描述：</label>
                <div class="col-lg-10 control-input">
                    <textarea class="form-control" name="remark" placeholder="分组描述" ng-model="remark" maxlength="256" maxlength-error-message="最多输入256个字符"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="addGroupManageSoftwareForm" ng-disabled="addGroupManageSoftwareForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>