<div class="clearfix script-content" ng-controller="userResourceCtrl" >
	<div class="wrapper-md">
		<div class="row panel panel-default">
			<div class="col-md-12">
				<button class="btn  btn-info m-b pull-left" ng-click="selectServer()"><i class="fa fa-plus"></i> 分配资源</button>
				<button class="btn btn-info m-b pull-right" ng-click="goBack()"><i class="fa fa-reply"></i> 返回</button>
			</div>
			<table st-table="displayListData" st-safe-src="serverListData" class="table table-striped">
				<thead>
				<tr>
					<th colspan="7">
						<input st-search placeholder="通过名称、IP地址进行过滤" class="input-sm form-control" type="search"/>
					</th>
				</tr>
				<tr>
					<th class="text-center">名称</th>
					<th class="text-center">状态</th>
					<th class="text-center">IP地址</th>
					<th class="text-center">类型</th>
					<th class="text-center">型号</th>
					<!--<th >是否共享</th>-->
					<th class="text-center">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in displayListData">
					<td class="text-center" ng-bind="row.name"></td>
					<td class="text-center" ng-bind="row.status1"></td>
					<td class="text-center" ng-bind="row.ip"></td>
					<td class="text-center" ng-bind="row.category|cn:'category'"></td>
					<td class="text-center" ng-bind="row.catalog|cn:'catalog'"></td>
					<!--<td >-->
						<!--<label class="i-switch bg-success">-->
							<!--<input type="checkbox" ng-model="row.shared" disabled>-->
							<!--<i></i>-->
						<!--</label>-->
					<!--</td>-->
					<td class="text-center">
						<button class="btn btn-sm w-xxs btn-danger" ng-click="remove(row.id)"><i class="fa fa-trash-o"></i> 删除</button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="2" class="text-left">
						<div>每页{{itemsByPage}}条，共{{total}}条</div>
					</td>
					<td colspan="3" class="text-right">
						<div st-pagination2="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
