<div class="clearfix script-content" ng-task-main-router="">
    <div class="wrapper-md" ng-controller="scriptTabCtrl">
        <tabset class="tab-container">
            <tab ng-controller="ScriptManageCtrl" ng-click="getTree()" active="active1">
                <tab-heading>
                    脚本管理
                </tab-heading>
                <div class="row panel" style="padding-top: 10px">
                    <div class="col-md-12 search-box m-b-md">
                        <div class="legend">查询条件</div>
                        <div class="search-content">
                            <div class="form-group">
                                <label>脚本名称：</label>
                                <input type="text" class="form-control" ng-model="name" placeholder="请输入脚本名称"/>
                            </div>
                            <div class="form-group">
                                <label>创建时间：</label>
                                <input ng-model="date" class="form-control w-md" ui-jq="daterangepicker" ui-options="{format: 'YYYY/MM/DD'}" placeholder="请选择时间" />
                            </div>
                            <div class="form-group">
                                <label>脚本分组：</label>
                                <div easy-combotree id="mycombotree0" tree-data="treeData" group-id="groupId" group-name="groupName" index="index" class="easyui-combotree control-input"></div>
                            </div>
                        </div>
                        <div class="search-btn">
                            <button class="btn btn-info w-xs m-r" ng-click="search()"><i class="fa fa-search"></i> 查询</button>
                            <button class="btn btn-success w-xs m-r" ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
                            <button class="btn btn-primary" ng-click="addScript()"><i class="fa fa-plus"></i> 新建脚本</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped b-light m-b-xxs">
                                <thead class="table-header">
                                <tr>
                                    <th width="20%" class="font-15 text-center">脚本名称</th>
                                    <th width="20%" class="font-15 text-center">脚本分组</th>
                                    <th width="20%" class="font-15 text-center">创建人</th>
                                    <th width="20%" class="font-15 text-center">创建时间</th>
                                    <!--<th width="15%" class="font-15">最后修改人</th>
                                    <th width="15%" class="font-15">最后修改时间</th>-->
                                    <th class="text-center td-operate font-15" width="20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-content" ng-repeat="(key,row) in scriptListData" ng-if="!isImageData">
                                    <td width="18%" class="font-15 detail-href text-center text-overflow" style="max-width:210px;" title="{{row.name}}" ng-bind="row.name" ng-click="goDetail(row.id)"></td>
                                    <td width="15%" class="font-15 text-center" title="{{row.groupName}}" ng-bind="row.groupName"></td>
                                    <td width="15%" class="font-15 text-center" title="{{row.creator}}" ng-bind="row.creator"></td>
                                    <td width="15%" class="font-15 text-center" title="{{row.gmtCreate}}" ng-bind="row.gmtCreate"></td>
                                    <!--<td width="15%" class="font-15" title="{{row.mender}}" ng-bind="row.mender"></td>
                                    <td width="15%" class="font-15" title="{{row.gmtModify}}" ng-bind="row.gmtModify"></td>-->
                                    <td width="20%" class="td-operate text-center">
                                        <button class="btn btn-success btn-sm" ng-click="editScript(row)">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span class="">编辑</span>
                                        </button>
                                        <button class="btn btn-danger btn-sm" style="margin-right:5px;" ng-click="delScript(row.id)">
                                            <i class="fa fa-trash-o"></i>
                                            <span class="">删除</span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="isImageData">
                                    <td class="td-nodata" colspan="5">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <div class="col-sm-6" style="padding:7px 15px;">
                                    <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab ng-controller="groupManageScriptCtrl" ng-click="getData()" active="active2">
                <tab-heading>
                    脚本分组管理
                </tab-heading>
                <div class="row panel" style="padding-top: 10px">
                    <div class="col-md-12">
                        <div class="search-btn" style="margin-left: 6px;margin-top: -10px;">
                            <button class="btn btn-primary w-xs m-r" ng-click="add(1,{},$event)"><i class="fa fa-plus-circle"></i> 新增</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="" style="margin:-10px 0 0 -10px;">
                                    <table groupscript-grid id="dg" tree-data="treeData" get-data="getData(param)" add="add(flag,item,$event)" remove="remove(item,$event)" detail="detail(item,$event)" class="easyui-treegrid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>